@media (max-width:1100px) {
#right{margin-left:30px;

}
.nonpopup{margin-right: 10px;
width:auto;
} 
}
@media(max-width:1000px){
    .nptop,.npbottom{flex-direction: column;}
    .flex{flex-direction: row;}
    .fbottom{padding-top: 0px;margin-left: 20px;}
    #flex{flex-direction: column;}
}
@media(max-width:900px){
   .popup{margin-left:-200px;}


}
@media (max-width:700px) {
#switch{display:block;}

.logos{display: none;border-left:1px solid red;}
    .editgreen{margin-bottom: 20px;}
    .inp{width:70%;}
    .submit{width:30%;}
    .div2{margin-top: 40px;}
    #left{width:100%;}
    #main{flex-direction: column;
        min-height:300vh}
        .popup{max-width:90%;margin-left: 5%;
        margin-top:-150px;
        }
        .nonpopup{margin-right: 0px;}
        #right{margin-left:0px;}
        
        .right-top,.manage{flex-direction: column;padding-left: 25px;}
        .top-left{margin-top:10px;}
        .maks{margin-right: 3px;width:auto;}
        .top-right{margin-top: 30px;}
        .select{flex-direction: column;}
        .info{margin-left: 0px;}
        .pbright{margin-top: 20px;}
        .inp{padding-left: 3px;}
      
        
}