body{margin:0px;
}
#main{display:flex;
    grid-template-columns:250px auto ;
    background-color: rgb(248 249 254);
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

#left{
width:256px;
padding: 25px;
background: white;

}
.left{margin-top:20px;

display:flex;
align-items: center;

border:1px solid red;
}
.leftimg{
    margin-right:20px;
    width:20px;
    aspect-ratio: 1;
}
